<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fragmento</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div
      th:fragment="usuarioForm(titulo)"
      class="container border border-2 w-25"
    >
      <h1 class="text-center" th:text="${titulo}"></h1>
      <form>
        <label class="col-form-label">Usuario</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          required
          th:value="${usuario.username}"
        />
        <label class="col-form-label">Contraseña</label>
        <input
          class="form-control"
          type="text"
          id="contrasena"
          name="contrasena"
          required
          th:value="${usuario.contrasena}"
        />
        <label class="col-form-label">Nombre</label>
        <input
          class="form-control"
          type="text"
          id="nombre"
          name="nombre"
          required
          th:value="${usuario.nombre}"
        />
        <label class="col-form-label">Email</label>
        <input
          class="form-control"
          type="text"
          id="email"
          name="email"
          required
          th:value="${usuario.email}"
        />
        <label class="col-form-label">Tipo Documento</label>
        <select
          class="form-control"
          id="tipoDocumento"
          name="tipoDocumento"
          required
        >
          <option value="CC" th:selected="${usuario.tipoDocumento eq 'CC'}">
            Cedula de ciudadania
          </option>
          <option value="CE" th:selected="${usuario.tipoDocumento eq 'CE'}">
            Cedula Extranjera
          </option>
          <option
            value="LICENSIA"
            th:selected="${usuario.tipoDocumento eq 'LICENCIA'}"
          >
            Licencia de conducción
          </option>
          <option
            value="PASAPORTE"
            th:selected="${usuario.tipoDocumento eq 'PASAPORTE'}"
          >
            Pasaporte
          </option>
          <option value="OTRO" th:selected="${usuario.tipoDocumento eq 'OTRO'}">
            Otro
          </option>
        </select>
        <label class="col-form-label">Documento</label>
        <input
          class="form-control"
          type="text"
          id="documento"
          name="documento"
          required
          th:value="${usuario.documento}"
        />
        <label class="col-form-label">Tipo Usuario</label>
        <select
          class="form-control"
          id="tiposUsuario_id"
          name="tiposUsuario_id"
          required
        >
          <option
            th:each="tipo : ${tipos}"
            th:value="${tipo.id}"
            th:text="${tipo.tipo}"
          ></option>
        </select>

        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Guardar" />
          <a th:href="@{/usuarios}" class="btn btn-primary">Cancelar</a>
        </div>
      </form>
    </div>
  </body>
</html>
