<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFC11</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <h1>Servicios mas y menos consumos</h1>
        <thead>
          <tr>
            <th>Año</th>
            <th>Semana</th>
            <th>Primer dia</th>
            <th>Ultimo dia</th>
            <th>Servicio mas consumido</th>
            <th>Consumo</th>
            <th>Servicio menos consumido</th>
            <th>Consumo</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dato : ${datos11_1}">
            <td th:text="${dato[0]}"></td>
            <td th:text="${dato[1]}"></td>
            <td th:text="${dato[2]}"></td>
            <td th:text="${dato[3]}"></td>
            <td th:text="${dato[4]}"></td>
            <td th:text="${dato[5]}"></td>
            <td th:text="${dato[6]}"></td>
            <td th:text="${dato[7]}"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <h1>Habitaciones con mas y menos reservas</h1>
        <thead>
          <tr>
            <th>Año</th>
            <th>Semana</th>
            <th>Primer dia</th>
            <th>Ultimo dia</th>
            <th>Numero de habitacion mas consumida</th>
            <th>Numero de reservas</th>
            <th>Numero de habitacion menos consumida</th>
            <th>Numero de reservas</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dato : ${datos11_2}">
            <td th:text="${dato[0]}"></td>
            <td th:text="${dato[1]}"></td>
            <td th:text="${dato[2]}"></td>
            <td th:text="${dato[3]}"></td>
            <td th:text="${dato[4]}"></td>
            <td th:text="${dato[5]}"></td>
            <td th:text="${dato[6]}"></td>
            <td th:text="${dato[7]}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
