<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFC4</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Servicios con las caracteristicas indicadas:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Costo por Unidad</th>
            <th>Horario</th>
            <th>Tipo de Servicio</th>
            <th>Capacidad</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dato : ${datos4}">
            <td th:text="${dato[0]}"></td>
            <td th:text="${dato[1]}"></td>
            <td th:text="${dato[2]}"></td>
            <td th:text="${dato[3]}"></td>
            <td th:text="${dato[4]}"></td>
            <td th:text="${dato[5]}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
