<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFC2</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <h1>20 servicios más populares:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Numero de consumos</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dato : ${datos2}">
            <td th:text="${dato[0]}"></td>
            <td th:text="${dato[1]}"></td>
            <td th:text="${dato[2]}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
