<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fragmento</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div
      th:fragment="tipoHabitacionForm(titulo)"
      class="container border border-2 w-25"
    >
      <h1 class="text-center" th:text="${titulo}"></h1>
      <form>
        <label class="col-form-label">Tipo</label>
        <input
          class="form-control"
          type="text"
          id="tipo"
          name="tipo"
          required
          th:value="${tipoHabitacion.tipo}"
        />
        <label class="col-form-label">Capacidad</label>
        <input
          class="form-control"
          type="number"
          id="capacidad"
          name="capacidad"
          required
          th:value="${tipoHabitacion.capacidad}"
        />
        <label class="col-form-label">Camas</label>
        <input
          class="form-control"
          type="number"
          id="camas"
          name="camas"
          required
          th:value="${tipoHabitacion.camas}"
        />
        <label class="col-form-label">Costo por noche</label>
        <input
          class="form-control"
          type="number"
          id="costo_noche"
          name="costo_noche"
          required
          th:value="${tipoHabitacion.costo_noche}"
        />
        <div class="text-center">
          <br />
            <input type="submit" class="btn btn-primary" value="Guardar" />
            <a th:href="@{/tiposHabitacion}" class="btn btn-primary">Cancelar</a>
          </div>
      </form>
    </div>
  </body>
</html>
