<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFC11 Form</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <form action="/RFC11/mostrar" method="get">
      <label class="col-form-label" for="razon">Criterio para servicios:</label>
      <select class="form-control" id="razon" name="razon">
        <option th:value="dinero" th:text="DineroRecolectado"></option>
        <option th:value="cant" th:text="CantidadDeConsumos"></option>
        <option
          th:value="num"
          th:text="CantidadDeProductosConsumidos"
        ></option></select
      ><br />
      <div>
        <input type="submit" value="Guardar" />
      </div>
    </form>
  </body>
</html>
