<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Servicios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Lista</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Suma Total</th>
                    <th>Fecha de Consumo</th>
                    <th>Número de objetos consumidos</th>
                    <th>Servicio</th>
                    <th>Usuario</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera a través de la lista de tipos de habitaciones -->
                <tr th:each="dato : ${datos}">
                    <td th:text="${dato.sumaTotal}"></td>
                    <td th:text="${dato.fechaConsumo}"></td>
                    <td th:text="${dato.numConsumos}"></td>
                    <td th:text="${dato.servicio}"></td>
                    <td th:text="${dato.usuario}"></td>
                    <!-- Muestra elementos de la habitación -->
                    <td>
                        <!-- Botón para editar -->
                        <a th:href="@{'/RF6/' + ${dato.id} + '/edit'}">Editar</a>
                        <!-- Botón para eliminar -->
                        <a th:href="@{'/RF6/' + ${dato.id} + '/delete'}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/RF6/new}" class="btn btn-primary">Agregar</a>
    </div>
</body>
</html>
