<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelAndes</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container mx-auto w-25">
      <h1>HotelAndes</h1>
      <div>
        <a th:href="@{/servicios}" class="btn btn-primary">Servicios</a>
        <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
        <a th:href="@{/habitaciones}" class="btn btn-primary">Habitaciones</a>
      </div>
    </div>
  </body>
</html>
