<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelAndes</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container mx-auto w-50">
      <h1 class="text-center">Hotel Andes</h1>
      <div>
        <a th:href="@{/tiposUsuario}" class="btn btn-primary">Tipos Usuario</a>
        <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
        <a th:href="@{/tiposHabitacion}" class="btn btn-primary">Tipos Habitacion</a>
        <a th:href="@{/habitaciones}" class="btn btn-primary">Habitaciones</a>
        <a th:href="@{/servicios}" class="btn btn-primary">Servicios</a>
        <a th:href="@{/planesConsumo}" class="btn btn-primary">Planes Consumo</a>
        <a th:href="@{/reservasAlojamiento}" class="btn btn-primary">Reservas Alojamiento</a>
        <a th:href="@{/reservasServicio}" class="btn btn-primary">Reservas Servicio</a>
        <a th:href="@{/consumos}" class="btn btn-primary">Consumos</a>
        <a th:href="@{/productos}" class="btn btn-primary">Productos</a>
      </div>
    </div>
  </body>
</html>
