<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotelAndes</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container mx-auto w-50">
      <h1 class="text-center">Hotel Andes</h1>
      <div class="login-form container border border-2 w-50">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
          <div class="form-group">
            <input
              type="text"
              id="usuario"
              name="usuario"
              placeholder="Nombre de Usuario"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="contraseña"
              required
            />
          </div>
          <div class="form-group">
            <br />
            <button type="submit">Iniciar Sesión</button>
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
