<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planes de Consumo</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="text-center">
      <h1>Lista de Planes</h1>
      <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Descuento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <th:block th:each="plan:${planesConsumo}">
          <tr>
            <td th:text="${plan.id}"></td>
            <td th:text="${plan.nombre}"></td>
            <td th:text="${plan.descripcion}"></td>
            <td th:text="${plan.descuento}"></td>
            <td>
              <a
                th:href="@{planesConsumo/{id}/edit(id=${plan.id})}"
                class="btn btn-primary"
                >Editar</a
              >
              <a
                th:href="@{planesConsumo/{id}/delete(id=${plan.id})}"
                onclick="return confirm('¿Borrar este Plan de Consumo?')"
                class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
        </th:block>
      </table>
      <a th:href="@{/planesConsumo/new}" class="btn btn-primary">Agregar Plan</a>
      <div>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
      </div>
    </div>
  </body>
</html>