<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar plan</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{'/planesConsumo/'+${planConsumo.id}+'/edit/save'}" th:object="${planConsumo}" method="post">
        <div th:replace="~{fragments/planConsumoForm :: planConsumoForm(titulo='Editar Plan de Consumo', planConsumo=${planConsumo})}" ></div>

</body>
</html>