<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{'/productos/'+${producto.id}+'/edit/save'}" th:object="${producto}" method="post">
        <div th:replace="~{fragments/productoForm :: productoForm(titulo='Editar Producto', producto=${producto})}" ></div>

</body>
</html>