<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas Alojamiento</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="text-center">
      <h1>Lista de Reservas de Alojamiento</h1>
      <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Huespedes</th>
            <th scope="col">Usuario</th>
            <th scope="col">Plan Consumo</th>
            <th scope="col">Habitacion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <th:block th:each="reserva:${reservasAlojamiento}">
          <tr>
            <td th:text="${reserva.id}"></td>
            <td th:text="${reserva.fechaIn}"></td>
            <td th:text="${reserva.fechaOut}"></td>
            <td th:text="${reserva.numPersonas}"></td>
            <td th:text="${reserva.usuarios_id.nombre}"></td>
            <td th:text="${reserva.planesConsumo_id.nombre}"></td>
            <td th:text="${reserva.habitaciones_id.numero}"></td>
            <td>
              <a
                th:href="@{reservasAlojamiento/{id}/edit(id=${reserva.id})}"
                class="btn btn-primary"
                >Editar</a
              >
              <a
                th:href="@{reservasAlojamiento/{id}/delete(id=${reserva.id})}"
                onclick="return confirm('¿Borrar esta reserva?')"
                class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
        </th:block>
      </table>
      <div>
        <a th:href="@{/reservasAlojamiento/new}" class="btn btn-primary"
          >Crear Reserva</a
        >
      <div>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
      </div>
    </div>
  </body>
</html>