<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo Usuario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{'/tiposUsuario/'+${tipoUsuario.id}+'/edit/save'}" th:object="${tipoUsuario}" method="post">
        <div th:replace="~{fragments/tipoUsuarioForm :: tipoUsuarioForm(titulo='Editar Tipo Usuario', tipoUsuario=${tipoUsuario})}" ></div>
</body>
</html>